body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

a {
  color: white;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  -webkit-clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.page {
  overflow: overlay;
}

.section-title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.more-info-link {
  padding: 10px 50px 10px 50px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #ee3643;
}

.more-info-link:hover,
.more-info-link:focus {
  background-color: #ca2c37;
}

.more-info-link:active {
  background-color: #ba2732;
}

/* HEADER */
.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f7f9;
}

.header-top {
  width: 100%;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: white;
  background-color: #293449;
}

.header-top__container {
  display: flex;
}

.site-header__logo {
  margin-bottom: -5px;
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.site-header__logo:hover,
.site-header__logo:focus {
  background-color: #ca2c37;
}

.site-header__logo:active {
  background-color: #ba2732;
}

a.index__logo:hover,
a.index__logo:focus,
a.index__logo:active {
    background-color: #ee3643;
}

.site-header__logo img {
  margin-top: 13px;
  margin-left: 55px
}

.site-header__form {
  position: relative;
  height: 42px;
}

.site-header__form svg {
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.3
}

.site-header__form path {
  fill: #ffffff;
}

.site-header__search-input {
  box-sizing: border-box;
  max-width: 270px;
  height: 42px;
  padding: 12px 72px 12px 48px;
  font: inherit;
  border: none;
  background-color: #293449;
}

.site-header__search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.site-header__search-input::-moz-placeholder {
  color: #ffffff;
}

.site-header__search-input:hover {
  background-color: #212a3a;
}

.site-header__search-input:hover+svg {
  opacity: 1;
}

.site-header__search-input+svg:hover {
  opacity: 1;
}

.site-header__search-input:focus {
  background-color: #ffffff;
}

.site-header__search-input:focus+svg {
  opacity: 1;
}

.site-header__search-input:focus+svg path {
  fill: #ee3643;
}

.site-header__buy-links {
  display: flex;
  width: 450px;
  margin: 0;
  padding: 0;
}

.main-bookmarks-btn {
  position: relative;
  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 44px;
}

.main-bookmarks-btn::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmarks.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-bookmarks-btn:hover::before,
.main-bookmarks-btn:focus::before {
  opacity: 1;
}

.main-bookmarks-btn:active::before {
  opacity: 0.5;
}

.main-basket-btn {
  position: relative;
  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 49px;
}

.main-basket-btn::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-basket-btn:hover::before,
.main-basket-btn:focus::before {
  opacity: 1;
}

.main-basket-btn:active::before {
  opacity: 0.5;
}

.main-basket-btn_active {
  background-color: #ee3643;
}

.main-order-btn {
  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.main-bookmarks-btn:hover,
.main-basket-btn:hover,
.main-bookmarks-btn:focus,
.main-basket-btn:focus {
  background-color: #212a3a;
}

.main-bookmarks-btn:active,
.main-basket-btn:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.main-order-btn {
  background-color: #63a63e;
}

.main-order-btn:hover,
.main-order-btn:focus {
  background-color: #5fbb2d;
}

.main-order-btn:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header-middle {
  padding-top: 46px;
  padding-bottom: 39px;
  width: 100%;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
}

.header-middle__container {
  display: flex;
  align-items: flex-start;
}

.site-header__title {
  width: 205px;
  padding: 0;
  margin: 3px 63px 0 52px;
  ;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.site-header__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
}

.site-header__tel {
  position: relative;
  margin-bottom: 4px;
  padding: 10px 50px 8px 72px;
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.site-header__tel::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-header__location {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #32425c;
}

.site-header__user-nav {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  list-style: none;
}

.site-header__user-nav a {
  display: block;
  color: #000000;
  background-color: #ffffff;
}

.site-header__user-nav a:hover,
.site-header__user-nav a:focus {
  color: #ee3643;
}

.site-header__user-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-link {
  position: relative;
  margin-right: 10px;
  padding: 12px 25px 13px 47px;
}

.login-link svg {
  position: absolute;
  top: 14px;
  left: 14px;
}

.login-link path {
  fill: #c5c5c5;
}

.login-link:hover path,
.login-link:focus path {
  fill: #32425C;
}

.login-link:active path {
  fill: #c5c5c5;
}

.registration-link {
  padding: 12px 24px 13px 25px;
}

.header-bottom {
  width: 100%;
  padding-bottom: 60px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
}

.site-header__main-nav {
  display: flex;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.site-header__site-nav {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  list-style: none;
}

.site-nav__link {
  display: block;
  padding: 21px 30px 22px 30px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.site-nav__main-link {
  padding-left: 51px;
  padding-right: 34px
}

.site-nav__contacts-link {
  padding-right: 51px;
  padding-left: 34px;
}


.site-header__site-nav a:hover,
.site-header__site-nav a:focus {
  background-color: #293449;
}

.site-header__site-nav a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

a.site-nav__current-link,
a.site-nav__current-link:hover,
a.site-nav__current-link:focus,
a.site-nav__current-link:active {
  color: #ffffff;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
  cursor: pointer;
}

/* catalog.html */
.user-info__block-wrapper-top {
  display: flex;
  width: 300px;
  background-color: #ffffff;
}

.user-info__profile-link {
  flex-grow: 1;
  position: relative;
  padding-left: 47px;
  padding-top: 12px;
  padding-bottom: 10px;
}

.user-info__name {
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-info__profile-link:active .user-info__name {
  opacity: 0.3;
}

.user-info__profile-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 13px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3
}

.user-info__profile-link:hover::before,
.user-info__profile-link:focus::before {
  opacity: 1;
}

.user-info__profile-link:active::before {
  opacity: 0.3;
}

.user-info__logout-link {
  padding: 25px 10px 0 10px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 50% 55%;
  opacity: 0.3
}

.user-info__logout-link:hover,
.user-info__logout-link:focus {
  opacity: 1;
}

.user-info__logout-link:active {
  opacity: 0.3;
}

.user-info__nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 300px;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  list-style: none;
}

.user-info__nav li {
  position: relative;
}

.user-info__nav li::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 1px;
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
}

.user-info__nav li:first-child::after {
  display: none;
}

.user-info__nav a {
  display: block;
  margin-top: 7px;
  padding: 2px 14px 2px 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-info__nav a:hover,
.user-info__nav a:focus {
  color: #ee3643;
  text-decoration: underline;
}

.user-info__nav a:active {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
}

/* MAIN */
.site-content__index {
  padding-top: 60px;
}

/* PROMO */
.promo {
  padding-bottom: 33px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
}

.promo__container {
  position: relative;
}

.promo__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  /**/
  list-style: none;
}

.promo__item {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-left: 22px;
  padding-top: 20px;
  width: 300px;
  min-height: 123px;
  /**/
}

.promo__item:nth-child(3n) {
  margin-right: 0px;
}

.promo-item__title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff
}

.promo-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 135px;
  margin-left: 1px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-item__link:hover,
.promo-item__link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials .promo-item__link,
.tools .promo-item__link {
  margin-left: 3px;
}

.materials {
  background-color: #ffbf47;
}

.materials::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 213px;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon-materials.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tools {
  background-color: #3bbce3;
}

.tools::after {
  content: "";
  position: absolute;
  top: 33px;
  left: 197px;
  width: 75px;
  height: 61px;
  background-image: url("../img/icon-tools.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.technique {
  background-color: #dc91d8;
}

.technique::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 190px;
  width: 78px;
  height: 62px;
  background-image: url("../img/icon-technique.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sale {
  background-color: #8ed78f;
}

.sale::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 196px;
  width: 59px;
  height: 72px;
  background-image: url("../img/icon-sale.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo .delivery {
  background-color: #ffc047;
}

.promo .delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 190px;
  width: 78px;
  height: 63px;
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filler {
  background-color: #ffffff;
}

.promo__slider {
  position: absolute;
  top: 127px;
  left: -30px;
}

.slider__switches {
  position: absolute;
  top: 220px;
  left: 293px;
  display: flex;
  list-style: none;
  z-index: 10;
}

.slider__toggle {
  margin-right: 10px;
}

.slider__btn {
  position: absolute;
  top: 135px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-left: none;
  border-bottom: none;
  z-index: 10;
}

.slider__left-btn {
  left: 70px;
  transform: rotate(-135deg);
}

.slider__right-btn {
  left: 604px;
  transform: rotate(45deg);
}

.slider__slides {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  list-style: none;
}

.slider__slide {
  display: none;
  position: absolute;
  padding: 22px 10px 22px 24px;
}

.slide-1 {
  width: 620px;
  height: 266px;
  background-image: url("../img/slide-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slide-2 {
  width: 620px;
  height: 266px;
  background-image: url("../img/slide-2.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slide_active {
  display: block;
}

.slide__title {
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slide__text {
  padding: 0;
  margin: 0;
  margin-bottom: 130px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.slide__link {
  padding: 10px 46px 11px 51px;
}

/* PRODUCTS */
.popular-products__head-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
  padding: 25px 24px 25px 28px;
  background-color: #f9f5f0;
}

.popular-products__title {
  margin: 0;
  color: #32425c;
}

.popular-products__link {
  padding-right: 55px;
  padding-left: 55px;
}

.popular-products__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-item {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 220px;
  min-height: 320px;
  /**/
  border: 1px solid #eaeaea;
}

.popular-products__item:nth-child(4n) {
  margin-right: 0;
}

.products-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  border-color: transparent;
}

.products-item:focus-within {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  border-color: transparent;
}

.products-item__flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  z-index: 2;
}

.products-item__flag-new {
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.products-item__img {
  margin-bottom: 8px;
  width: 218px;
  height: 170px;
}

.products-item:hover .products-item__img {
  opacity: 0;
}

.products-item:focus-within .products-item__img {
  opacity: 0;
}

.products-item__title {
  margin: 0 30px 12px 29px;
  margin-bottom: auto;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.products-item__old-price {
  margin: 0 30px 11px 30px;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #a9a9a9;
  text-decoration: line-through;
}

.products-item__price {
  position: relative;
  margin: 0 36px 22px 41px;
  padding: 10px 5px 10px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.products-item__price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

.products-item__action {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  margin-top: 43px;
  width: 100%;
  background-color: #ffffff;
  display: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background-color: #ffffff;
}

.products-item:hover .products-item__action {
  display: flex;
}

.products-item:focus-within .products-item__action {
  display: flex;
}

.products-item__basket-btn {
  margin: 0 auto 8px auto;
  box-sizing: border-box;
  min-width: 135px;
  padding: 10px 0;
  padding-left: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
  border-radius: 3px;
}

.products-item__basket-btn:hover,
.products-item__basket-btn:focus {
  background-color: #5fbb2d;
}

.products-item__basket-btn:active {
  background-color: #518534;
  box-shadow: none;
}

.products-item__bookmarks-btn {
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  min-width: 135px;
  padding: 7px 0;
  padding-left: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #32425c;
  border: 3px solid #63a63e;
  border-radius: 3px;
}

.products-item__bookmarks-btn:hover,
.products-item__bookmarks-btn:focus {
  border: solid 3px #32425c;
}

.products-item__bookmarks-btn:active {
  color: #32425c;
  opacity: 0.3;
}

/* BRANDS */
.popular-brands {
  padding-bottom: 65px;
}

.popular-brands__head-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 26px 24px 25px 28px;
  background-color: #f9f5f0;
}

.popular-brands__title {
  margin: 0;
  padding: 0;
  color: #32425c;
}

.popular-brands__link {
  margin-top: -1px;
  padding: 9px 69px 11px 69px;
}

.popular-brands__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-height: 310px;
  /**/
  list-style: none;
}

.popular-brands__item {
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 220px;
  height: 145px;
  /**/
  border: 1px solid #eaeaea;
}

.popular-brands__item:nth-child(4n) {
  margin-right: 0;
}

.popular-brands__item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  border: none;
}

.popular-brands__item:focus-within {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  border: none;
}

.popular-brand__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
}

.popular-brand__logo-interskol {
  align-self: flex-start;
  margin-top: 20px;
}

.popular-brand__logo-metabo {
  align-self: flex-start;
  margin-top: 35px;
}

/* SERVICES */
.services {
  padding-top: 66px;
  padding-bottom: 27px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #f4f7f9;
}

.services__title {
  color: #000000;
  margin-bottom: 25px;
}

.services__text {
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  /*временно для удобства*/
  width: 400px;
  /*временно для удобства*/
}

.service__container {
  display: flex;
  justify-content: flex-start;
}

.services__switches {
  position: relative;
  margin: 0;
  margin-right: 80px;
  padding: 0;
  padding-bottom: 70px;
  list-style: none;
}

.services__switches::after {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;
  width: 10px;
  height: 280px;
  background-image: url("../img/services-shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.switch {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.switch__label {
  display: block;
  box-sizing: border-box;
  padding: 15px 21px 17px 22px;
  width: 240px;
  background-color: #32425c;
}

.switch__label:hover {
  background-color: #293449;
}

.switch__input:checked~.switch__label {
  color: #32425c;
  background: #ffffff;
}

.services__list {
  margin: 0;
  padding: 0;
  width: 620px;
  list-style: none;
}

.service {
  display: none;
  box-sizing: border-box;
  padding-bottom: 25px;
  width: 100%;
  height: 100%
}

.service_active {
  display: block;
}

.services__list .delivery {
  background-image: url("../img/delivery-picture.png");
  background-repeat: no-repeat;
  background-position: right 25px;
}

.guarantee {
  background-image: url("../img/guarantee-picture.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.credit {
  background-image: url("../img/credit-picture.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.service__title {
  margin: -2px 0 24px 1px;
  ;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.service__text {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.delivery__box {
  width: 275px;
}

.guarantee__box {
  width: 380px;
}

.credit__box {
  width: 280px;
}

/* COMPANY-INFO */
.company-info {
  padding-top: 80px;
  padding-bottom: 85px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.company-info__container {
  display: flex;
  justify-content: space-between;
}

.about-company {
  width: 520px;
}

.about-company__text {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.about-company__list {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  list-style: none;
}

.transport-companies__text {
  margin-bottom: 20px;
  width: 385px;
}

.transport-companies__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
}

.transport-companies__item:last-child {
  margin-bottom: 0;
}

.transport-companies__item::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.about-company__link {
  padding: 13px 40px 10px 41px;
}

.map-section {
  width: 300px;
}

.map-section__text {
  margin: 0;
  margin-bottom: 31px;
  width: 180px;
}

.map-section img {
  margin-bottom: 33px;
}

.map-section__link {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 11px 0 10px 1px;
}

/* CATALOG.html */
.site-content__catalog {
  padding-top: 21px;
}

.catalog-container__top-wrap {
  margin-bottom: 19px;
}

/* .breadcrumbs */
.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin: 0;
  margin-right: 40px;
  padding: 0;
}

.breadcrumbs li:last-child {
  margin-left: 3px;
}

.breadcrumbs li:first-child {
  width: 14px;
  height: 18px;
}

.breadcrumbs li::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 4px;
  width: 6px;
  height: 6px;
  border: 2px solid #c1c6ce;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
}

.breadcrumbs li:first-child::before {
  display: none;
}

.breadcrumbs__link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.breadcrumbs__main-page-link {
  display: inline-block;
  vertical-align: baseline;
  width: 14px;
  height: 18px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumbs__current {
  cursor: pointer;
}

.page-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 31px 0 29px 27px;
  color: #32425c;
  background-color: #f2f6f8;
}

/* .breadcrumbs end */
.catalog-container__bottom-wrap {
  display: flex;
  justify-content: space-between;
}

/* FILTER */
.filter {
  width: 220px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.filter__title {
  margin: 0;
  margin-bottom: 11px;
  padding: 10px 0px 10px 18px;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
}

.filter__fieldset {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  padding-bottom: 25px;
  border: none;
  border-bottom: 1px solid #eaeaea;
}

.fieldset-brands {
  padding-bottom: 23px;
  margin-bottom: 16px;
}

.fieldset-power {
  border: none;
}

.filter__legend {
  margin: 0;
  margin-bottom: 14px;
  margin-left: -1px;
  padding: 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.fieldset-power legend {
  letter-spacing: 0.7px;
}

.range__controls {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 10px;
  padding: 40px 20px 39px 20px;
  height: 80px;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.range__scale {
  position: relative;
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.range__scale::before,
.range__scale::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range__scale::before {
  left: 0;
}

.range__scale::after {
  left: 140px;
}

.range__bar {
  width: 140px;
  height: 2px;
  background-color: #00ca74;
}

.range__price-fields {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.range__price-fields::after {
  position: absolute;
  top: 19px;
  left: 105px;
  content: "";
  width: 10px;
  height: 1px;
  background-color: #444444;
}

.range__price-fields input {
  padding: 9px 0 11px 2px;
  width: 95px;
  text-align: center;
  font: inherit;
  background-color: #f7f3ec;
  border: none;
  border-radius: 5px;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__option {
  margin-bottom: 20px;
}

.filter__option:last-child {
  margin-bottom: 0;
}

.filter__label {
  position: relative;
  padding-left: 34px;
  font-size: 15px;
  line-height: 20px;
}

.filter__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  box-sizing: border-box;
  width: 23px;
  height: 23px;
  border: 2px solid #c5c5c5;
  border-radius: 4px;
}

.filter__input-checkbox:checked+.filter__label::before {
  width: 28px;
  background-image: url("../img/icon-checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  opacity: 0.25;
}

.fieldset-power .filter__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -1px;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.fieldset-power .filter__label::after {
  display: none;
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  width: 8px;
  height: 8px;
  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter__input-radio:checked+.filter__label::after {
  display: block;
}

.filter__button-submit {
  text-align: center;
  margin-top: 39px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 4px;
  min-width: 140px;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.filter__button-submit:hover,
.filter__button-submit:focus {
  border: 1px solid #bdc6ca;
}

.filter__button-submit:active {
  border: 1px solid #ee3643;
}

/* CATALOG.HTML  PRODUCTS*/
.products {
  width: 700px;
  padding-bottom: 60px;
}

.sorting-box {
  display: flex;
  /*Временно для удобства*/
  margin-bottom: 21px;
  padding: 10px 2px 10px 19px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.sorting-box__title {
  margin: 0;
  margin-right: auto;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-box__links-list {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  list-style: none;
}

.sorting-box__links-list li:first-child {
  margin-right: 71px;
}

.sorting-box__links-list li:nth-child(2) {
  margin-right: 65px;
}

.sorting-box__links-list li:nth-child(3) {
  margin-right: 46px;
}

.sorting-box__links-list li:nth-child(4) {
  margin-right: 20px;
}

.sorting-box__links-list li:nth-child(5) {
  margin-right: 15px;
}

.sorting-box__get-link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sorting-box__get-link:hover,
.sorting-box__get-link:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-box__get-link:active {
  color: #ee3643;
  border-bottom: none;
}

.sorting-box__get-link_active,
.sorting-box__get-link_active:hover,
.sorting-box__get-link_active:focus,
.sorting-box__get-link_active:active {
  color: #ee3643;
  border-bottom: none;
  cursor: pointer;
}

.sorting-box__increase-link,
.sorting-box__decrease-link {
  display: block;
  position: relative;
  top: 2px;
  width: 12px;
  height: 12px;
  border-bottom: none;
}

.sorting-box__increase-link svg path,
.sorting-box__decrease-link svg path {
  fill: #c5c5c5;
}

.sorting-box__increase-link:hover svg path,
.sorting-box__increase-link:focus svg path,
.sorting-box__decrease-link:hover svg path,
.sorting-box__decrease-link:focus svg path {
  fill: #000000;
}

.sorting-box__increase-link:active svg path,
.sorting-box__decrease-link:active svg path {
  fill: #ee3643;
}

.sorting-box__arrow-current svg path,
.sorting-box__arrow-current:hover svg path,
.sorting-box__arrow-current:focus svg path,
.sorting-box__arrow-current:active svg path {
    fill: #ee3643;
    cursor: pointer;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  /* Временно для удобства */
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
  min-height: 1000px;
  /**/
  list-style: none;
}

.products__item:nth-child(3n) {
  margin-right: 0;
}

/* PAGINATION */
.pagination__list {
  /* Временно для удобства */
  display: flex;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  list-style: none;
}

.pagination__link {
  display: block;
  margin-right: 10px;
  padding-top: 9px;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  background-color: #ffffff;
}

.pagination__text-link {
  width: auto;
  padding-right: 29px;
  padding-left: 31px;
}

.pagination__link:hover,
.pagination__link:focus {
  border: 1px solid #bdc6ca;
}

.pagination__link:active {
  border: 1px solid #ee3643;
}

.pagination__link-current,
.pagination__link-current:hover,
.pagination__link-current:focus,
.pagination__link-current:active {
  color: #ffffff;
  background-color: #ee3643;
  border: none;
  cursor: pointer;
}

/* ABOUT-PERFORATORS*/
.about-perforators {
  margin: 0;
  padding: 65px 0 69px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #f4f7f9;
}

.about-perforators__title {
  margin-bottom: 26px
}

.about-perforators__text {
  margin: 0;
  padding: 0;
}

/* FOOTER */
.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER-TOP */
.footer-top {
  padding-bottom: 23px;
  width: 100%;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: #32425c;
}

.footer-top__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 27px;
}

.site-footer__logo {
  width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.site-footer__logo img {
  margin-left: 41px;
  margin-top: 20px;
}

.site-footer__logo:hover,
.site-footer__logo:focus {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ca2c37;
}

.site-footer__logo:active {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ba2732;
}

a.index__logo:hover,
a.index__logo:focus,
a.index__logo:active {
    background-color: #ee3643;
}

.site-footer__site-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 38px;
  width: 550px;
  list-style: none;
  color: #f1f5f7;
}

.site-footer__site-nav a {
  color: #f1f5f7;
}

.site-footer__site-nav a:hover,
.site-footer__site-nav a:focus {
  text-decoration: underline;
}

.site-footer__site-nav a:active {
  opacity: 0.5;
  text-decoration: none;
}

.site-footer__contacts {
  margin-left: 3px;
  font-style: normal;
  color: #f3f7f9;
}

.site-footer__tel {
  color: #f3f7f9;
  text-decoration: none;
}

.site-footer__products-nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 525px;
  list-style: none;
  color: #ffd180;
}

.site-footer__products-nav a {
  color: #ffd180;
}

.site-footer__products-nav a:hover,
.site-footer__products-nav a:focus {
  text-decoration: underline;
}

.site-footer__products-nav a:active {
  opacity: 0.5;
  text-decoration: none;
}

/* FOOTER-BOTTOM */
.footer-bottom {
  width: 100%;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #293449;
}

.footer-bottom__container {
  display: flex;
  padding-top: 37px;
  padding-bottom: 30px;
}

.site-footer__company-copyright {
  width: 230px;
  margin: 0;
  margin-right: 159px;
  margin-left: 1px;
  padding: 0;
}

.site-footer__social {
  display: flex;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.site-footer__social li {
  margin-top: -2px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
}

.social-link-vk {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-link-fb {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-link-insta {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: #ee3643;
}

.site-footer__feedback {
  margin: 0;
  margin-right: 53px;
  padding: 0;
  width: 135px;
}

.site-footer__copyright {
  margin: 0;
  margin-right: 11px;
  padding: 0;
  width: 100px
}

.site-footer__htmlacademy-link {
  color: #ffd180;
}

.site-footer__htmlacademy-link:hover,
.site-footer__htmlacademy-link:focus {
  text-decoration: underline;
}

.site-footer__htmlacademy-link:active {
  color: #ee3643;
  text-decoration: none;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  width: 620px;
  margin: 0 auto;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  border-top: 7px solid #ee3643;
  background-color: #ffffff;
  z-index: 100;
}

.modal_show {
  display: block;
  animation-name: appearance;
  animation-duration: 0.5s;
}

@keyframes appearance {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal_error {
  animation-name: shake;
  animation-duration: 0.5s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal__container {
  padding: 48px 80px 37px 80px;
}

.modal__bottom-container {
  display: flex;
  justify-content: space-between;
  padding-top: 37px;
  padding-bottom: 37px;
}

.modal__bottom-background {
  background-color: #f4f4f4;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 6px;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  top: 10px;
  right: 3px;
  content: "";
  width: 20px;
  height: 3px;
  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

/* window big map */
.window-big-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -470px;
  margin-top: -223px;
  width: 940px;
  height: 445px;
  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
  background-color: #565656;
  background-image: url("../img/big-map-picture.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 90;
}

.window-big-map_show {
  display: block;
}

.window-big-map iframe {
   frameborder: 1;
}

.window-big-map .modal-close {
  top: 45px;
  right: 10px;
  background-color: #ffffff;
  border-radius: 3px;

}

/* WRITE-US */
.write-us {
  top: 20%;
  left: 50%;
  margin-left: -310px;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.write-us__form {
  font-size: 18px;
  line-height: 18px;
}

.write-us__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 48px 80px 37px 80px;
}

.appointment-item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  width: 220px;
}

.appointment-item-big {
  margin: 0;
  padding: 0;
  width: 100%;
}

.write-us__form label {
  display: block;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
}

.write-us__field {
  font: inherit;
  font-size: 13px;
  border: 2px solid #dee3e4;
}

.write-us__field:hover {
  font: inherit;
  font-size: 13px;
  border: 2px solid #b5b5b5;
}

.write-us__field:focus {
  font: inherit;
  font-size: 13px;
  border: 2px solid #ee3643;
}

.appointment-item .write-us__field {
  box-sizing: border-box;
  padding: 10px 0 10px 16px;
  width: 220px;
  height: 38px;
}

.appointment-item-big textarea,
.appointment-item_big input {
  box-sizing: border-box;
  width: 100%;
}

.appointment-item-big textarea {
  padding-top: 10px;
  padding-left: 16px;
  min-height: 115px;
}

.modal__bottom-container .more-info-link {
  width: 100%;
}

/* ADD-TO-BASKET*/
.add-to-basket {
  top: 30%;
  left: 50%;
  margin-left: -310px;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.add-to-basket__container {
  padding: 65px 80px 65px 180px;
}

.add-to-basket__title {
  position: relative;
  margin: 0;
  padding: 0;
  color: #000000;
}

.add-to-basket__title::after {
  content: "";
  position: absolute;
  top: -25px;
  left: -100px;
  width: 66px;
  height: 66px;
  background-image: url("../img/good-add-modal-check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.add-to-basket__continue-btn {
  min-width: 220px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
  border: none;
}
